*.png
*.csv
*.pkl
*.log
src/logs/*
src/nohup.out
.ipynb_checkpoints/
explore_data.ipynb
makrel_mette/*
notebooks/old_notebooks/*
git_setup.sh
notebooks/split_jul.ipynb
mette_f_bert.ipynb
keyword_config.ini
keyword_dict.ndjson
notebooks/streamlit.ipynb
