*.png
*.csv
*.pkl
*.log
*.pyc
src/logs/*
src/nohup.out
src/__pycache__/*
.ipynb_checkpoints/
explore_data.ipynb
makrel_mette/*
notebooks/old_notebooks/*
git_setup.sh
notebooks/split_jul.ipynb
mette_f_bert.ipynb
keyword_dict.ndjson
notebooks/streamlit.ipynb
src/en/*
english_bert.ipynb
GPT.ipynb
extract_tweetID.py
ids/*
dehydrated_ids.zip
src/daily_proportion.py
src/trending_topics.py